@tailwind base;
@tailwind components;
@tailwind utilities;
@import '@fontsource/montserrat'; 


body {
    background: radial-gradient(farthest-side ellipse at 10% 0, #333867 20%, #17193b);
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
  }
  